* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  padding-top: 33px;
  padding-bottom: 35px;
}
.header__logo-img {
  display: block;
}
.header__menu-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 48px;
  align-items: center;
}
.header__menu {
  display: flex;
  flex-flow: row wrap;
  gap: 48px;
}
.header__menu-link {
  color: #45403D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.header__button {
  border-radius: 24px;
  border: 1px solid #A26539;
  background-color: transparent;
  display: inline-flex;
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #A26539;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.5s ease;
}
.header__button:hover {
  background-color: #A26539;
  color: #FFF;
}

.background {
  background-color: #F6F5F4;
  position: relative;
  overflow-x: hidden;
}

.top {
  padding-top: 118px;
  padding-bottom: 208px;
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
}
.top__text {
  display: flex;
  flex-flow: column wrap;
  gap: 26px;
  width: 586px;
}
.top__title {
  font-size: 48px;
  font-weight: 700;
  width: 95%;
  color: #45403D;
}
.top__title-mark {
  font-weight: 400;
}
.top__subtitle {
  font-size: 24px;
  font-weight: 600;
  width: 498px;
  color: #45403D;
  width: 498px;
}
.top__desc-wrapper {
  width: 100%;
  max-width: 498px;
}
.top__desc {
  font-size: 16px;
  font-weight: 400;
  color: #45403D;
  line-height: 1.221;
}
.top__desc:first-child {
  margin-bottom: 8px;
}
.top__button {
  border-radius: 24px;
  border: 1px solid #A26539;
  display: flex;
  width: 366px;
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #A26539;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease;
}
.top__button:hover {
  background-color: #A26539;
  color: #FFF;
}

.top-images__table {
  position: absolute;
  top: 0px;
  right: 0px;
}
.top-images__cup {
  position: absolute;
  top: -1px;
  right: 245px;
  transition: 0.5s ease;
}
.top-images__cup:hover {
  transform: rotate(-10.437deg);
}
.top-images__grains {
  position: absolute;
  top: 57px;
  right: 101px;
}
.top-images__cookie {
  position: absolute;
  top: 367px;
  right: 385px;
  transition: 0.5s ease;
}
.top-images__cookie:hover {
  transform: rotate(-18.367deg);
}
.top-images__synnabon {
  position: absolute;
  top: 200px;
  right: 0px;
  transition: 0.5s ease;
}
.top-images__synnabon:hover {
  transform: rotate(-16.355deg);
}

.about-us {
  padding-top: 64px;
  padding-bottom: 64px;
}
.about-us__title {
  color: #45403D;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.about-us__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 584px;
  border-radius: 24px 24px 24px 0px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
}
.card__image {
  width: 100%;
  max-width: 292px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 24px 0px 0px 0px;
  background: #DEDEDE;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  padding: 20px;
}
.card__title {
  align-self: stretch;
  color: #45403D;
  font-size: 24px;
  font-weight: 600;
}
.card__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.card__desc:not(:last-child) {
  margin-bottom: 8px;
}/*# sourceMappingURL=styles.css.map */