* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  padding-top: 120px;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  padding-top: 33px;
  padding-bottom: 35px;
}
.header__logo-img {
  display: block;
}
.header__menu-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 48px;
  align-items: center;
}
.header__menu {
  display: flex;
  flex-flow: row wrap;
  gap: 48px;
}
.header__menu-link {
  color: #45403D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.header__button {
  border-radius: 24px;
  border: 1px solid #A26539;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15.5px 36px;
  color: #A26539;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  transition: 0.5s ease;
  cursor: pointer;
}
.header__button:hover {
  background-color: #A26539;
  color: #FFF;
}

.background {
  background-color: #F6F5F4;
  position: relative;
  overflow-x: hidden;
}

.top {
  padding-top: 118px;
  padding-bottom: 208px;
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
}
.top__text {
  display: flex;
  flex-flow: column wrap;
  gap: 26px;
  width: 586px;
}
.top__title {
  font-size: 48px;
  font-weight: 700;
  width: 95%;
  color: #45403D;
}
.top__title-mark {
  font-weight: 400;
}
.top__subtitle {
  font-size: 24px;
  font-weight: 600;
  width: 498px;
  color: #45403D;
  width: 498px;
}
.top__desc-wrapper {
  width: 100%;
  max-width: 498px;
}
.top__desc {
  font-size: 16px;
  font-weight: 400;
  color: #45403D;
  line-height: 1.221;
}
.top__desc:first-child {
  margin-bottom: 8px;
}
.top__button {
  border-radius: 24px;
  border: 1px solid #A26539;
  display: flex;
  width: 366px;
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #A26539;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease;
}
.top__button:hover {
  background-color: #A26539;
  color: #FFF;
}

.top-images__table {
  position: absolute;
  top: 0px;
  right: 0px;
}
.top-images__cup {
  position: absolute;
  top: -1px;
  right: 245px;
  transition: 0.5s ease;
}
.top-images__cup:hover {
  transform: rotate(-10.437deg);
}
.top-images__grains {
  position: absolute;
  top: 57px;
  right: 101px;
}
.top-images__cookie {
  position: absolute;
  top: 367px;
  right: 385px;
  transition: 0.5s ease;
}
.top-images__cookie:hover {
  transform: rotate(-18.367deg);
}
.top-images__synnabon {
  position: absolute;
  top: 200px;
  right: 0px;
  transition: 0.5s ease;
}
.top-images__synnabon:hover {
  transform: rotate(-16.355deg);
}

.about-us {
  padding-top: 64px;
  padding-bottom: 64px;
}
.about-us__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-top: 48px;
}

.section-title {
  color: #45403D;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-us-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 584px;
  border-radius: 24px 24px 24px 0px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
}
.about-us-card__image {
  width: 100%;
  max-width: 292px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 24px 0px 0px 0px;
  background: #DEDEDE;
}
.about-us-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  padding: 20px;
}
.about-us-card__title {
  align-self: stretch;
  color: #45403D;
  font-size: 24px;
  font-weight: 600;
}
.about-us-card__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.about-us-card__desc:not(:last-child) {
  margin-bottom: 8px;
}

.menu {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
}
.menu__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__button-container {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.menu__button {
  border-radius: 24px;
  border: 1px solid #A26539;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  width: 120px;
  color: #A26539;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  transition: 0.5s ease;
  cursor: pointer;
}
.menu__button:hover {
  background-color: #A26539;
  color: #FFF;
}
.menu__button_active {
  background-color: #A26539;
  color: #FFF;
}
.menu__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-top: 48px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  pointer-events: none;
}
.menu__cards_other {
  position: absolute;
  top: 122px;
}
.menu__cards_show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  pointer-events: auto;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
}
.product__image {
  border-radius: 24px 24px 0px 0px;
}
.product__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0px 20px 20px 20px;
}
.product__price {
  color: #45403D;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}
.product__desc {
  color: #45403D;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.product__vol {
  color: #9A9A9A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reviews {
  padding-top: 64px;
  padding-bottom: 64px;
}
.reviews__cards {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  max-width: 379px;
  padding: 20px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
}
.review__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}
.review__author-box {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
}
.review__author-name {
  color: #45403D;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}
.review__desc {
  margin-right: 2px;
  color: #45403D;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.215;
}/*# sourceMappingURL=styles.css.map */