@import 'vars';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
}

a {
    text-decoration: none; // убрать нижнее подчеркивание у ссылок
}

button {
    font: inherit; // заказной шрифт на все кнопки
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    display: flex;
    flex-flow: row wrap; // ПЕРЕНОС (ИМЕТЬ В ВИДУ)
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding-top: 33px;
    padding-bottom: 35px;
    &__logo-img {
        display: block;
    }
    &__menu-wrapper {
        display: flex;
        flex-flow: row wrap; // ПЕРЕНОС (ИМЕТЬ В ВИДУ)
        gap: 48px;
        align-items: center;
    }
    &__menu {
        display: flex;
        flex-flow: row wrap; // ПЕРЕНОС (ИМЕТЬ В ВИДУ)
        gap: 48px;
    }
    &__menu-link {
        color: $color-text;
        font-size: $font-size-text;
        font-style: normal;
        font-weight: 600;
    }
    &__button {
        border-radius: 24px;
        border: 1px solid $color-button;
        background-color: transparent;
        display: inline-flex;
        padding: 16px 36px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: $color-button;
        font-family: "Montserrat Alternates";
        font-size: $font-size-text;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: 0.5s ease;
        &:hover {
            background-color: $color-button;
            color: #FFF;
        }
    }
}

.background {
    background-color: $bgc-main;
    position: relative;
    overflow-x: hidden;
}

.top {
    padding-top: 118px;
    padding-bottom: 208px;
    display: flex;
    flex-flow: column wrap; // ПЕРЕНОС (ИМЕТЬ В ВИДУ)
    gap: 40px;
    &__text {
        display: flex;
        flex-flow: column wrap; // ПЕРЕНОС (ИМЕТЬ В ВИДУ)
        gap: 24px;
        width: 586px;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        width: 95%;
        color: $color-text;
    }
    &__title-mark {
        font-weight: 400; // ОТДЕЛЬНЫЙ СТИЛЬ ДЛЯ КАВЫЧЕК
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 600;
        width: 498px;
        color: $color-text;
        width: 498px;
    }
    &__desc-wrapper {
        display: flex;
        flex-flow: column wrap; // ПЕРЕНОС (ИМЕТЬ В ВИДУ)
        justify-content: space-between;
        height: 127px;
        width: 498px;
    }
    &__desc {
        font-style: $font-size-text;
        font-weight: 400;
        width: 498px;
        color: $color-text;
    }
    &__button {
        border-radius: 24px;
        border: 1px solid $color-button;
        display: flex;
        width: 366px;
        padding: 16px 36px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: $color-button;
        font-size: $font-size-text;
        font-weight: 600;
        transition: 0.5s ease;
        &:hover {
            background-color: $color-button;
            color: #FFF;
        }
    }
}

.top-images {
    &__table {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    &__cup {
        position: absolute;
        top: 0px;
        right: 248px;
        transition: 0.5s ease;
        &:hover {
            transform: rotate(-10.437deg);
        }
    }
    &__grains {
        position: absolute;
        top: 56px;
        right: 102px;
    }
    &__cookie {
        position: absolute;
        top: 366px;
        right: 384px;
        transition: 0.5s ease;
        &:hover {
            transform: rotate(-18.367deg);
        }
    }
    &__synnabon {
        position: absolute;
        top: 195px;
        right: 0px;
        transition: 0.5s ease;
        &:hover {
            transform: rotate(-16.355deg);
        }
    }
}

.about-us {
    padding-top: 64px;
    padding-bottom: 64px;
    &__title {
        color: $color-text;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 48px;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}

.card {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 584px;
    border-radius: 24px 24px 24px 0px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
    &__image {
        width: 100%;
        max-width: 292px;
        object-fit: cover;
        display: block;
        border-radius: 24px 0px 0px 0px;
        background: #DEDEDE; // цвет уголка слева вверху
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        padding: 20px;
    }
    &__title {
        align-self: stretch;
        color: $color-text;
        font-size: 24px;
        font-weight: 600;
    }
    &__desc-box {
        padding-right: 2px;
    }
    &__desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2; // пока так, надо решить проблему эффективнее
        &:not(:last-child) {
            margin-bottom: 8px; // сравнить по факту
        }
    }
}